body {
    background-image:url(../images/ragnarok.jpg);
    background-size: cover;

};



.midContainer {
    border: 2px solid black;
    border-style: solid;
    padding: 2%;
    background-color:white;
    color:black;

    
};